.root {
    -fx-font-family: "Segoe UI", "Arial";
    -fx-background-color: #ECECEC;
}

.grid-pane {
    -fx-padding: 5;
    -fx-hgap: 1.0;
    -fx-vgap: 1.0;
}

.cell {
    -fx-background-color: #FFE4C4;
    -fx-min-width: 55px;
    -fx-min-height: 55px;
    -fx-border-color: transparent;
    -fx-border-width: 2;
}

.cell:hover {
    -fx-background-color: derive(#FFE4C4, -10%);
}

.suggestion-cell {
    -fx-background-color: rgba(46, 171, 98, 0.4);
    -fx-border-color: #2EAB62;
}

.captured-piece {
    -fx-opacity: 0.6;
}

.piece {
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 8, 0.0, 0, 3);
}

.piece.white {
    -fx-fill: #F5F5DC;
    -fx-stroke: #B8860B;
    -fx-stroke-width: 2;
}

.piece.brown {
    -fx-fill: #A0522D;
    -fx-stroke: #8B0000;
    -fx-stroke-width: 2;
}

.piece.general {
    -fx-stroke-width: 2;
}

.general-circle {
    -fx-radius: 22px;
}

.general-triangle {
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

.piece.general-triangle.white {
    -fx-fill: #FFD700;
    -fx-stroke: #444444;
}

.piece.general-triangle.brown {
    -fx-fill: #1a1a1a;
    -fx-stroke: #E0E0E0;
}